@using Newtonsoft.Json
@using razor_poc.Models.ViewModels
@model HeroBlockViewModel

<style>

    .hero-block {
        position: relative;
    }

    .full-width-image {
        width: 100%;
        height: auto;
        display: block;
    }

    .text-container {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);
        text-align: left;
        color: #fff; 
    }

    .hero-title-container {
        font-size: 64px;
        line-height: 0px;
        transform: translate(-50%, -50%);
        animation: reveal 2s ease-out 0s 1 normal both;
    }

    .hero-description {
        animation: fadeIn 2s ease-out 0s 1 normal both;

    }

    a {
        color: white;
    }

    @@media screen and (max-width: 1280px) {
        .text-container {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            text-align: center;
        }

        .hero-title-container {
            font-size: 32px;
        }

        .full-width-image {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    @@keyframes reveal {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%);
        }

        100% {
            opacity: 1;
            transform: translate(0%, 0%);
        }
    }

    @@keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>


<div class="hero-block">
    <img src="@Model.HeroImage.Href" alt="@Model.HeroImage.AltText" class="full-width-image" />
    <div class="text-container">
        <div class="hero-title-container">
        <h3>@Model.Title</h3>
        <h4>@Model.Subtitle</h4>
        </div>
        <div class="hero-description">
        <p>@Html.Raw(Model.Description)</p>
        <a href="@Model.CtaLink.Href" target="@Model.CtaLink.Target">@Model.CtaLink.Text</a>
        </div>
    </div>
</div>
